{% extends 'base.html.twig' %}
{% import 'macros/linker.html.twig' as linker %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="main main__wrap">
        <h2>Accueil</h2>
        {% for parcours in courses %}
            <article>
                <h2>{{ parcours.name }}</h2>
                <p>Dans le thème {{ parcours.theme.name }}</p>
                <p>Description : {{ parcours.description }}</p>
                <img src="{{ linker.getLink(parcours.picture) }}" alt="test">

                <a href="{{ path('course_show', {"id": parcours.id}) }}">Aller au parcours</a>

                {% if is_granted('ROLE_USER') %}
                    <form method="POST" action="{{ path('game_index') }}">
                        <input name="course" value="{{ parcours.id }}" type="hidden">
                        <button class="btn btn-primary" type="submit">Jouer à ce parcours</button>
                    </form>
                {% endif %}
            </article>
        {% endfor %}
    </main>
{% endblock %}
