{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main class="main main__wrap">
        <h2>Accueil</h2>
        {% for parcours in courses %}
            <article>
                <h2>{{ parcours.name }}</h2>
                <p>Dans le thème {{ parcours.theme.name }}</p>
                <p>Description : {{ parcours.description }}</p>
                {% set link = asset('assets/image/'~parcours.picture) %}

                {% if link matches '{http(s)?://}' %}
                    {% set link = parcours.picture %}
                {% endif %}
                <img src="{{ link }}" alt="test">

                <a href="{{ path('course_show', {"id": parcours.id}) }}">Aller au parcours</a>

                {% if is_granted('ROLE_USER') %}
                    <form method="POST" action="{{ path('game_index') }}">
                        <input name="course" value="{{ parcours.id }}" type="hidden">
                        <button type="submit">Jouer à ce parcours</button>
                    </form>
                {% endif %}
            </article>
        {% endfor %}
    </main>
{% endblock %}
