{% import 'macros/formMacros.html.twig' as formElement %}

<form action="{{ path("user_login") }}" method="POST">
     {{ formElement.csrf() }}
     <div class="form__field">
         <label for="username" class="form__label">Nom
             d'utilisateur</label>
         <input type="text" class="form__input" id="username" name="_username"
                value="{{ lastUsername }}">
     </div>
     <div class="form__field">
         <label for="password" class="form__label">Mot de passe</label>
         <input type="password" class="form__input" id="password" name="_password">
     </div>
     {% if error %}
         <div class="form__error">
             {{ error.messageKey }}
         </div>
     {% endif %}
     {{ formElement.submit('Se connecter') }}
 </form>