{% extends 'base.html.twig' %}
{% import 'macros/linker.html.twig' as linker %}
{% import 'macros/svg.html.twig' as svg %}

{% block title %}{{ place.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% include'scripts/placeMap.html.twig' %}
{% endblock %}

{% block body %}
    {% if not is_mobile() %}
        <main class="main main__wrap--left">
    {% else %}
        <main class="main main__wrap">
    {% endif %}
        <a href="{{ path('course_show', {"id": courseId}) }}">
            {{ svg.leftArrow() }}
            Retourner au parcours
        </a>
        <div class="d-block d-lg-flex justify-content-between">
            <div class="ch-50">
                <h2 class="mt-4 mb-0 h2">{{ place.name }}</h2>
                <p class="m-0 text-muted">{{ place.address }}</p>
                <p class="small text-muted">Latitude : {{ place.latitude }} / Longitude : {{ place.longitude }}</p>
                <img class="place__picture | mb-4" src="{{ linker.getLink(place.picture) }}"
                     alt="Image de {{ place.name }}">

                {% if not isPlayer or checkedPlace %}
                    {% if is_mobile() %}
                        <div class="mb-3">
                            <div class="googleMap googleMap__place" id="map"></div>
                        </div>
                    {% endif %}
                    <p>{{ place.description }}</p>
                {% else %}
                    <p id="js-unchecked">
                        Vous devez vous rendre sur place pour avoir plus d'information
                        {% if not is_mobile() %}
                            <span class="small text-danger">
                                (Attention : disponible que sur mobile)
                            </span>
                        {% endif %}
                    </p>
                    {% if is_granted('ROLE_USER') and not checkedPlace and is_mobile() %}
                        <form action="{{ path('check_place', {"id": place.id}) }}">
                            <p id="js-geolocalisation" class="btn btn-primary">J'y suis</p>
                        </form>
                        <div id="geo"></div>
                    {% endif %}
                    {% if is_mobile() %}
                        <div class="mb-3">
                            <div class="googleMap googleMap__place" id="map"></div>
                        </div>
                    {% endif %}
                    <p class="text__blur">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio doloribus hic illo incidunt iusto maiores molestiae, nihil rem tempore. Blanditiis dolor dolores esse mollitia perferendis porro saepe ut vel? Debitis delectus deserunt eaque incidunt inventore, laudantium necessitatibus obcaecati officiis optio perspiciatis placeat quam ratione recusandae repellendus veniam. Eos illum nulla officiis sequi totam? A aliquam aliquid culpa itaque iure, modi molestiae nam nihil, nisi nostrum officiis pariatur perferendis quaerat quo, quod repudiandae tenetur unde vero? Aliquid aperiam aut blanditiis cupiditate dolore iste labore magni, minima nisi nostrum officia praesentium quo, velit. Ad aliquid illum iusto laborum perspiciatis, quis sit voluptatem!
                    </p>
                {% endif %}
            </div>
            {% if not is_mobile() %}
                <div class="ml-lg-5 w-100">
                    <div class="mh-100 | googleMap googleMap__place" id="map"></div>
                </div>
            {% endif %}
        </div>
    </main>
    <nav class="links font-weight-bold main__wrap">
        {% if siblings.previous is defined %}
            <a class="nav__link nav__link--previous" href="{{ path('place_show', {"id" : siblings.previous.id}) }}">
                {{ svg.leftArrow() }} Lieu précédent
            </a>
        {% endif %}
        {% if siblings.next is defined %}
            <a class="nav__link nav__link--next" href="{{ path('place_show', {"id" : siblings.next.id}) }}">
                Lieu suivant {{ svg.rightArrow() }}
            </a>
        {% endif %}
    </nav>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% include 'scripts/popup.html.twig' %}
    {% if is_mobile() %}
        {% include 'scripts/geolocation.html.twig' %}
    {% endif %}
    <script src="https://maps.googleapis.com/maps/api/js?key={{ API_KEY }}&callback=initMap"></script>
{% endblock %}