{% extends 'base.html.twig' %}

{% block title %}{{ place.name }}{% endblock %}

{% block body %}
    <h1>{{ place.name }}</h1>
    <p>{{ place.address }}</p>
    <p>{{ place.longitude }} / {{ place.latitude }}</p>
    <p>{{ place.description }}</p>
    {% set link = asset('assets/image/'~place.picture) %}
    {% if link matches '{http(s)?://}' %}
        {% set link = place.picture %}
    {% endif %}
    <img src="{{ link }}" alt="test">
{% endblock %}

